
/* responsive web */

@media screen and (max-width: 768px) {
  :root {
    /* font-size */
    --font-large: 1.875rem;
    --font-mdeium: 1.125rem;
    --font-regular: 1rem;
    --font-small: 0.875rem;
    --font-micro: 0.75rem;
  }

  .navbar__toggle-btn {
    display: block;
  }

  .nav_menu {
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: var(--color-white);
    opacity: 0.9;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 5px;
  }

  .nav_search {
    display: none;
  }

}









/* joinus 페이지 css (start) */

section .main {
    margin: 100px;
    text-align: center; 
}

.join_us {
    width: 170px;
    margin: 30px auto;
    font-size: var(--font-large);
    border-bottom: 2px solid;
}

.main form {
    margin:auto;
    padding: 30px;
    width: 1000px;
}

.main table {
    margin: 50px auto;
}

.main tr {
    width: 100px;
    line-height: 40px;

}

.main td {
    padding: 0 40px;
    text-align: left;
}

tr .joinusInputTd {
  display: flex;
}

.birth select {
  margin-right: 10px;
}

.email {
  margin-right: 10px;
}

.userPhone input{
  width:50px ;
}
section .main div {
    margin: 15px 0;
}

.main input {
    line-height: 20px;
}


.userId button {
    font-size: 15px;
    width: 80px;
    line-height: 25px;
    margin-left: 10px;
    background-color: rgb(197, 197, 197);
    border-radius: 10%;
    color: var(--color-white);

}

section .main p {
    margin-bottom: 50px;
}

.terms a {
    text-decoration: underline;
    color: gray;
}

.under_terms {
    margin-top: 10px;
}

.injoy_btn {
    margin-top: 30px;
    width: 200px;
    height: 45px;
    border-radius: 3px;
    background-color: black;
    border: none;
    font-size: 17px;
}

.injoy_btn>a {
    color: var(--color-white);
}

/* joinus 페이지 css (end) */