

/* navbar */
#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}

.main_logo {
  min-width: 3.125rem;
}

.nav_menu {
  display: flex;
  justify-content: center;
  font-size: var(--font-regular);
  padding-right: 30px;
}

.nav_menu_item {
  margin: 0;
  padding: 8px 20px;
  transition: all var(--animation-duration) ease-in;
}

/* .nav_menu_item:after {
    content: '';
    width: 100%;
    border-bottom: 1px solid transparent;
    border-color: var(--color-black);
    display: none;
  } */

.nav_menu_item:hover {
  transform: scale(1.2);
}

.nav_search {}

.search_bar {
  width: 7.5rem;
  font-size: var(--font-regular);
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  transition: all var(--animation-duration) ease-in;
  transform: scaleX(0);
  transform-origin: right;
  visibility: hidden;
}

.visible {
  visibility: visible;
  transform: scaleX(1);
}

.search_btn {
  font-size: var(--font-small);
}

/* responsive nav */
.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  display: none;
}

/* HOME Image */
#home {
  margin-bottom: 30px;
}

/* footer */
#footer {
  background-color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  text-align: left;
}

.footer_about_anker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
}

.footer_about_anker a {
  padding: 5px 0;
  transition: all var(--animation-duration) ease-in-out;
}

.footer_about p {
  padding: 5px 0;
}

.footer_about_anker a:hover {
  transform: scale(1.1);
}

.footer_information p {
  padding: 20px 0;
}

.footer_information p:last-child {
  font-size: var(--font-regular);
}

.footer_instagram h3 {
  font-size: var(--font-regular);
  padding-bottom: 10px;
}

.footer_instagram_img {
  display: grid;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
}

/* aside */
#aside {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 50px;
  font-size: var(--font-medium);
  background-color: #dcdcdc;
  opacity: 0.7;
  z-index: 1;
  border-radius: 10px 0 0 10px;
}

#aside ul {
  padding: 0;
}

#aside li {
  position: relative;
  margin: 10px 0px;
  pointer-events: none;
}

.aside_btn,
.arrow_up {
  transition: all var(---animation-duration-short) ease-in;
  font-size: var(--font-regular);
  pointer-events: all;
}

.aside_btn:hover {
  transform: scale(1.2);
}

.up:hover {
  transform: scale(1.1);
}

.bubble {
  position: absolute;
  transform: translateX(-120%);
  top: 10px;
  width: 90px;
  background: #dcdcdc;
  border-radius: 10px;
  font-size: var(--font-small);
  padding: 5px 0px;
  opacity: 1;
  display: none;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 12px 0 12px 30px;
  border-color: transparent #dcdcdc;
  display: block;
  z-index: 1;
  top: 13%;
  right: -14px;
}

#aside li:hover .bubble {
  display: block;
}

#aside li:nth-child(4) {
  width: 35px;
  border-top: 1px solid #4d4d4d;
  margin: 10px auto;
}

/*====== main page ======*/

/* discription */

#discription_story {
  padding: 50px;
}

.discriptino_story_text {
  margin: 50px 0;
}

.discriptino_story_text h2 {
  font-weight: var(--weight-bold);
  padding: 20px;
}

.discriptino_story_text p {
  font-size: var(--font-regular);
  padding: 10px;
}


.discription_content {
  background: url(./image/temp_main_image_flowe.jpg) no-repeat;
  width: 100%;
  height: 20vw;
  margin: 20px 0;
}

/* product */

#best_seller,
#new_arrival {
  width: 90%;
  margin: 50px auto;
}

.best_seller_title,
.new_arrival_title {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  padding: 40px 0 20px 0;
}

.best_seller_items,
.new_arrival_items {
  display: flex;
  justify-content: space-around;
  gap: 1.25rem;
  flex-wrap: wrap;
  border-radius: var(--regular-border-radius);
}

.best_seller_item,
.new_arrival_item {
  width: 22%;
  min-width: 250px;
}

.item_thumbnail {
  border-radius: var(--regular-border-radius);
  position: relative;
}

.item_thumbnail img {
  border-radius: var(--regular-border-radius);
}

.discription_detail {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--regular-border-radius);
  opacity: 0;
  transform: translateY(5px);
  transition: all var(--animation-duration-long) ease-in-out;
}

.discription_detail h2 {
  color: var(--color-white);
}

.discription_detail p {
  word-wrap: break-word;
  word-break: keep-all;
  color: var(--color-white);
  padding: 10px;
}

.item_thumbnail:hover .discription_detail {
  opacity: 0.6;
  transform: translateY(0);
}

.discription_item {
  display: flex;
  justify-content: space-between;
  padding: 23px 5px;
}

.discription_item_name {
  font-size: var(--font-regular);
}

.discription_item_price {
  font-size: var(--font-medium);
}


/* responsive web */

@media screen and (max-width: 768px) {
  :root {
    /* font-size */
    --font-large: 1.875rem;
    --font-mdeium: 1.125rem;
    --font-regular: 1rem;
    --font-small: 0.875rem;
    --font-micro: 0.75rem;
  }

  .navbar__toggle-btn {
    display: block;
  }

  .nav_menu {
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: var(--color-white);
    opacity: 0.9;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 5px;
  }

  .nav_search {
    display: none;
  }

}

/* about페이지 css (start)*/

#about {
  /* width: 90%; */
  margin: auto;
  padding: 50px;
}

.about__container {
  opacity: 0;
  transition: all 1500ms ease-in;
}

.p__story {
  font-size: var(--font-medium);
}

.h2__story {
  font-size: calc(var(--font-medium)*1.2);
}

.about__img {
  padding: 20px 0 50px 0;
}

.about__img img {
  width: 90%;
  height: 400px;
}

.eco__p {
  padding: 10px 0;
}

.divider {
  width: 10%;
  border: 1px solid black;
  margin: 20px auto;
}

.pop {
  margin-top: 250px;
}

.about__eco {
  width: 70%;
  background-color: var(--color-light-white);
  color: var(--color-light-grey);
  margin: 20px auto;
  padding: 10px 20px;
}

.eco__title {
  color: var(--color-black);
}

.eco__description {
  display: flex;
  justify-content: space-between;
}

.eco {
  margin-bottom: 32px;
}

.eco__bar {
  width: 100%;
  height: 3px;
  background-color: var(--clolor-light-grey);
}

.eco__value {
  height: 3px;
  background-color: var(--color-orange);
}

/* about 페이지 css (end)*/


/* mainitem 페이지 css (start) */

.top_big_container {
  background-position: top;
  width: 100%;
  height: 60vh;
}

.middle_big_container {
  margin-top: 2rem;
}

.middle_big_container_textbox {
  float: left;
  margin-left: 1.5rem;
}

.middle_left_box_child1 {
  text-align: initial;
  font-size: 4.5rem;
  font-weight: bold;
  color: var(--color-black);
}

.middle_slide_up1 {
  opacity: 0;
  transform: translateY(5px);
  animation: middle_slide_up1 1s ease-out 1s forwards;
}

@keyframes middle_slide_up1 {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.middle_left_box_child2 {
  text-align: initial;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-dark-grey);
}

.middle_slide_up2 {
  opacity: 0;
  transform: translateY(5px);
  animation: middle_slide_up2 2s ease-out 2s forwards;
}

@keyframes middle_slide_up2 {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide_box_container {
  overflow: hidden;
}

.slide_box {
  display: flex;
  justify-content: space-evenly;
}

.slide_boximg {
  width: 30vh;
  height: 40vh;
  border-radius: var(--regular-border-radius);
  margin-top: 6rem;
  margin-right: 6rem;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  50.01% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}


.slide_box {

  animation-name: scroll;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  animation-direction: alternate;
  display: flex;
  justify-content: space-between;
  width: 100%;
}



.slide_box:hover {
  animation-play-state: paused;
  
}


.slide_horizon {
  width: 80%;
  height: 1px;
  border: 2px solid var(--color-grey);
  margin: 5rem auto;
  opacity: .5;
}

.slide_buttonbox div {
  width: 25%;
}

.bottom_big_container {
  margin-top: 10%;
}

.menubox_container {
  margin: 3rem auto;
  width: 50rem;
}

.menu__btn__container {
  display: flex;
  justify-content: space-between;
}

.menu__btn__container .menu_button {
  /* background-color: var(--color-blue); */
  color: white;
  background-color: var(--color-black);
  width: 11rem;
  line-height: 4rem;
  border-radius: var(--regular-border-radius);
  font-size: calc(var(--font-regular) * 1.1);
  /* ? */
  /* margin: 10rem .2rem 3rem .2rem; */


  /* color: var(--color-white); */
}




.menubox_horizon {
  width: 70%;
  border: 2px solid var(--color-black);
  border-radius: 50%;
  margin: 0 auto;
}


.bottom_list_big_container {
  display: flex;
  padding: 5rem 10rem;
  justify-content: center;
  flex-wrap: wrap;
}

.bottom_list_small_container
 {
  width: 25%;
  min-width: 200px;
  height: 25%;
  margin: 3rem 1.5rem;

}

.bottom_list_img img {
  border-radius: var(--regular-border-radius);
}

.bottom_list_text {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-medium);
}

.list_text_right {
  font-weight: var(--weight-bold);
}

.menu_button {
  position: relative;
}

.menu_button:hover,
.menu_button.selected {
  background-color: var(--color-dark-grey);
  color: var(--color-white);
  transition: all .5s 0.1s;
  /* cursor: pointer; */
}

.bottom_list_big_container {
  opacity: 1;
  transition: all var(--animation-duration) ease-in-out;
}

.bottom_list_big_container.anim-out {
  opacity: 0;
  transform: scale(.98) translateY(40px);
}

.bottom_list_small_container.item__invisible {
  display: none;
}

.category__count {
  background-color: var(--color-dark-grey);
  border-radius: 50%;
  border: 1px solid var(--color-dark-white);
  color: var(--color-white);
  width: 26px;
  line-height: 26px;
  display: inline-block;
  position: absolute;
  top: calc(50% - 13px);
  right: -10px;
  transform: rotate(90deg);
  opacity: 0;
  transition: all var(--animation-duration) ease-in-out;
}

.menu_button.selected {
  opacity: 1;
  transform: rotate(0deg);
  right: 15px;
}

#discription_story {
  padding: 50px;
}

.discriptino_story_text {
  margin: 50px 0;
}

.discriptino_story_text h2 {
  font-weight: var(--weight-bold);
  padding: 20px;
}

.discriptino_story_text p {
  font-size: var(--font-regular);
  padding: 10px;
}

.discription_content {
  background: url(./image/temp_main_image_flowe.jpg) no-repeat;
  width: 100%;
  height: 20vw;
  margin: 20px 0;
}

/* mainitem 페이지 css (end) */

/* mypage 페이지 css  (start) */

.myPage_container {
  width: 80%;
  margin: 100px auto;
}

.myPageText {
  font-size: var(--font-large);
  border-bottom: 2px solid;
  width: 200px;
  margin: auto;
}

.myPage_container hr {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

/* 내 프로필 */
.profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 400px;
}

.profile .profile_img {
  background: url(./image/team_logo.png) center/cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid;
}

.member_info {
  width: 200px;
  text-align: right;
  font-size: var(--font-small);

}

.member_info li:nth-of-type(1) {
  font-size: var(--font-medium);
  padding-bottom: 20px;
}

.member_info span {
  text-decoration: underline;
  color: var(--clolor-light-grey);
  cursor: pointer;
}


/* 주문상품내역, 배송조회 */
.order_check_all {
  width: 100%;
}

.order table {
  border-collapse: collapse;
  width: 100%;
}

.order h2 {
  margin-bottom: 20px;
}

.mypageTd,
.mypageTr {
  border: 1px solid #231f1f;
  width: 200px;
  height: 150px;
}

.order th:nth-of-type(2),
.order td:nth-of-type(2) {
  width: 300px;
}

th {
  height: 40px;
  border-color: #616161;
  color: var(--color-white);
}

/* td {
  height: 150px;
} */

.delivery span {
  text-decoration: underline;
  color: var(--clolor-light-grey);
  cursor: pointer;
}

.order_info {
  background-color: black;
}

.order_main img {
  background-position: center;
  background-size: cover;
  width: 150px;
  height: 100px;
}


/* responsive web */

@media screen and (max-width: 768px) {
  :root {
  /* font-size */
  --font-large: 1.875rem;
  --font-mdeium: 1.125rem;
  --font-regular: 1rem;
  --font-small: 0.875rem;
  --font-micro: 0.75rem;
  }

  .navbar__toggle-btn {
  display: block;
  }

  .nav_menu {
  flex-direction: column;
  position: absolute;
  width: 100%;
  background-color: var(--color-white);
  opacity: 0.9;
  top: 95px;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 5px;
  }

  .nav_search {
  display: none;
  }

 
}

.modalsize {
  width: 450px;
  height: 500px;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,0);
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
}
.inputcoupon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
}
/* mypage 페이지 css  (end) */


/* cspage 페이지 css  (start) */

main {
  margin-bottom: 40px;
}


.navbar_child {
  width:25%;
  letter-spacing: 1.5rem;
  height: 6vh;
  color: white;
  margin: 0 auto;
  border-radius: var(--small-size-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_child span  {
  color: white;
  font-size: 1.5vw;
  font-weight: var(--weight-bold);
}

.inputbox_wrapper {
  text-align: center;
  margin: 2rem;
}

.inputbox_wrapper input {
  width: 20%;
  height: 40px;
}

.inputbox_wrapper button i {
  position: relative;
  left: -30px;
}

.accordion_container {
  margin: 0 auto;
  width: 700px;
  margin-bottom: 100px;
}


.button_box {
  width: 50%;
  color: white;
  margin: 10px auto;
  text-align: center;
}

.realbutton {
  width: 120px;
  line-height: 50px;
  border: 1px solid rgb(238, 238, 238);
  background-color: rgb(250, 250, 250);
}

.realbutton.selected,
.realbutton:hover{
        background-color: var(--color-dark-grey);
        color: white;
}

.cspage_accrodion {
  width: 60%;
  margin: 0 auto;
}
/* .accordion.item__invisible{
  display: none;
}
.accordion--textbox {
  position: absolute;
  left: 50px;
}

.accordion-body span:first-child {
  position: absolute;
}

.accordion-body span:nth-child(2) {
  display: block;
  margin-left: 30px;
}  */
/* cspage 페이지 css  (end) */


/* login 페이지 css (start) */

.main_container div>a {
  text-decoration: none;
  display: block;
}

.login_container {
  width: 500px;
  height: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  outline: none;
}

/* 로그인 로고 */
.login {
  width: 140px;
  margin: 30px auto;
  margin-bottom: 60px;
  text-align: center;
  font-size: var(--font-large);
  border-bottom: 2px solid;
}

/* 회원 비회원버튼 */
.members {
  display: flex;
}

.members button {
  width: 150px;
  height: 50px;
  background-color: black;
  opacity: .5;
  color: var(--color-white);
}

.members .visible {
  opacity: 1;
}

/* 멤버박스 */
.member_box {
  display: none;
}

/* id칸 */
.login_id {
  width:300px;
  height: 50px;
  margin-top: 50px;
}

.member_id,
.non_member_id {
  width: 300px;
  height: 35px;
  border: none;
  border-bottom: 1.5px solid #000000;
}

/* psw칸 */
.login_pw {
  width:300px;
  height: 50px;
  margin-top: 20px;
}

.member_pw,
.non_member_pw {
  width: 300px;
  height: 35px;
  border: none;
  border-bottom: 1.5px solid #000000;
}

/* 비회원박스 */

.non_member_box {
  display: none;
}

/* 비회원 id칸 */
.non_member_login_id {
  width:300px;
  height: 50px;
  margin-top: 50px;

}

/* 비회원 psw칸 */
.non_member_login_pw {
  width:300px;
  height: 50px;
  margin-top: 20px;
}

/* 회원 비회원 show */
.show {
  display: block;
}


/* 로그인엔터 */
.login_login {
  width: 100%;
  height: 45px;
  margin: 0 auto;
  border-radius: 3px;
  background-color: black;
  font-size: 17px;
  line-height: 45px;
  text-align: center;
  color: white;
}

.login_enter>a {
  color: var(--color-white);
}

/* 찾기,회원가입 */
.login_middle {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* 찾기 */
.find {
  float: left;
  margin-top: 15px;
  font-size: 14px;
  color: #000000;
}

/* 회원가입 */
.join {
  float: right;
  margin-top: 15px;
  font-size: 14px;
  color: #000000;
}

/* 다른로그인 이미지 */
.login_container img {
  width: 35px;
  margin: 40px 5px;
}



/* login 페이지 css (end) */

/* joinus 페이지 css (start) */

section .main {
    margin: 100px;
    text-align: center; 
}

.join_us {
    width: 170px;
    margin: 30px auto;
    font-size: var(--font-large);
    border-bottom: 2px solid;
}

.main form {
    margin:auto;
    padding: 30px;
    width: 1000px;
}

.main table {
    margin: 50px auto;
}

.main tr {
    width: 100px;
    line-height: 40px;

}

.main td {
    padding: 0 40px;
    text-align: left;
}

tr .joinusInputTd {
  display: flex;
}

.birth select {
  margin-right: 10px;
}

.email {
  margin-right: 10px;
}

.userPhone input{
  width:50px ;
}
section .main div {
    margin: 15px 0;
}

.main input {
    line-height: 20px;
}


.userId button {
    font-size: 15px;
    width: 80px;
    line-height: 25px;
    margin-left: 10px;
    background-color: rgb(197, 197, 197);
    border-radius: 10%;
    color: var(--color-white);

}

section .main p {
    margin-bottom: 50px;
}

.terms a {
    text-decoration: underline;
    color: gray;
}

.under_terms {
    margin-top: 10px;
}

.injoy_btn {
    margin-top: 30px;
    width: 200px;
    height: 45px;
    border-radius: 3px;
    background-color: black;
    border: none;
    font-size: 17px;
}

.injoy_btn>a {
    color: var(--color-white);
}

/* joinus 페이지 css (end) */