
/* responsive web */

@media screen and (max-width: 768px) {
  :root {
    /* font-size */
    --font-large: 1.875rem;
    --font-mdeium: 1.125rem;
    --font-regular: 1rem;
    --font-small: 0.875rem;
    --font-micro: 0.75rem;
  }

  .navbar__toggle-btn {
    display: block;
  }

  .nav_menu {
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: var(--color-white);
    opacity: 0.9;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 5px;
  }

  .nav_search {
    display: none;
  }

}







/* login 페이지 css (start) */

.main_container div>a {
  text-decoration: none;
  display: block;
}

.login_container {
  width: 500px;
  height: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  outline: none;
}

/* 로그인 로고 */
.login {
  width: 140px;
  margin: 30px auto;
  margin-bottom: 60px;
  text-align: center;
  font-size: var(--font-large);
  border-bottom: 2px solid;
}

/* 회원 비회원버튼 */
.members {
  display: flex;
}

.members button {
  width: 150px;
  height: 50px;
  background-color: black;
  opacity: .5;
  color: var(--color-white);
}

.members .visible {
  opacity: 1;
}

/* 멤버박스 */
.member_box {
  display: none;
}

/* id칸 */
.login_id {
  width:300px;
  height: 50px;
  margin-top: 50px;
}

.member_id,
.non_member_id {
  width: 300px;
  height: 35px;
  border: none;
  border-bottom: 1.5px solid #000000;
}

/* psw칸 */
.login_pw {
  width:300px;
  height: 50px;
  margin-top: 20px;
}

.member_pw,
.non_member_pw {
  width: 300px;
  height: 35px;
  border: none;
  border-bottom: 1.5px solid #000000;
}

/* 비회원박스 */

.non_member_box {
  display: none;
}

/* 비회원 id칸 */
.non_member_login_id {
  width:300px;
  height: 50px;
  margin-top: 50px;

}

/* 비회원 psw칸 */
.non_member_login_pw {
  width:300px;
  height: 50px;
  margin-top: 20px;
}

/* 회원 비회원 show */
.show {
  display: block;
}


/* 로그인엔터 */
.login_login {
  width: 100%;
  height: 45px;
  margin: 0 auto;
  border-radius: 3px;
  background-color: black;
  font-size: 17px;
  line-height: 45px;
  text-align: center;
  color: white;
}

.login_enter>a {
  color: var(--color-white);
}

/* 찾기,회원가입 */
.login_middle {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* 찾기 */
.find {
  float: left;
  margin-top: 15px;
  font-size: 14px;
  color: #000000;
}

/* 회원가입 */
.join {
  float: right;
  margin-top: 15px;
  font-size: 14px;
  color: #000000;
}

/* 다른로그인 이미지 */
.login_container img {
  width: 35px;
  margin: 40px 5px;
}



/* login 페이지 css (end) */

/* joinus 페이지 css (start) */

section .main {
    margin: 100px;
    text-align: center; 
}

.join_us {
    width: 170px;
    margin: 30px auto;
    font-size: var(--font-large);
    border-bottom: 2px solid;
}

.main form {
    margin:auto;
    padding: 30px;
    width: 1000px;
}

.main table {
    margin: 50px auto;
}

.main tr {
    width: 100px;
    line-height: 40px;

}

.main td {
    padding: 0 40px;
    text-align: left;
}

tr .joinusInputTd {
  display: flex;
}

.birth select {
  margin-right: 10px;
}

.email {
  margin-right: 10px;
}

.userPhone input{
  width:50px ;
}
section .main div {
    margin: 15px 0;
}

.main input {
    line-height: 20px;
}


.userId button {
    font-size: 15px;
    width: 80px;
    line-height: 25px;
    margin-left: 10px;
    background-color: rgb(197, 197, 197);
    border-radius: 10%;
    color: var(--color-white);

}

section .main p {
    margin-bottom: 50px;
}

.terms a {
    text-decoration: underline;
    color: gray;
}

.under_terms {
    margin-top: 10px;
}

.injoy_btn {
    margin-top: 30px;
    width: 200px;
    height: 45px;
    border-radius: 3px;
    background-color: black;
    border: none;
    font-size: 17px;
}

.injoy_btn>a {
    color: var(--color-white);
}

/* joinus 페이지 css (end) */